.parent{
  display: flex;
  flex-direction: column;
  row-gap:10px;
}

.child1{
  border: 1px solid gray;
  padding: 30px;
  height: 350px;
  margin-top: 20px
}

.child2{
  border: 1px solid gray;
  padding: 30px;
  height: 350px;
  margin-top: 20px
}

.child1_svg{
  height: 450px;
}